[submodule "contract_eth/lib/forge-std"]
	path = contract_eth/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contract_eth/lib/openzeppelin-contracts"]
	path = contract_eth/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "nft_exemple/lib/forge-std"]
	path = nft_exemple/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft_exemple/lib/openzeppelin-contracts"]
	path = nft_exemple/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
